# Ignore virtual environment directory
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache files
*.log
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Operating system files
.DS_Store           # macOS
Thumbs.db           # Windows
desktop.ini         # Windows

# Ignore environment variables
.env

# Ignore build/temporary directories
build/
dist/
*.egg-info/
